// size
$header-height: 94px;
// font
$nice-font: 'Oswald';
// color
$gradient-top-left: #1a2c54;
$gradient-top-right: #61969e;
$mine-shaft-color: #252525;
$modal-background-color: #faf1e2;
$green-border-color: #00a651;
