.header {
    // border: 1px solid red;
    background-color: white;
}
.header__list {
    list-style-type: none;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
}
.header__styled {
    font-family: 'Berkshire Swash';
}

.header__icon--trophy,
.header__icon--plus {
    font-size: 0.7rem;
}
.header__icon--trophy {
    @extend .jt-trophy;
}

.header__icon--plus {
    @extend .jt-plus;
}
