.header
    ul.header__list
        li.header__item
            a(href="#leaderboard")
                span.header__icon--trophy
                span Leaderboard
        li.header__styled Foosball
        li.header__item
            span.header__icon--plus
            span Add score
