.header {
    // border: 1px solid red;
    background-color: white;
    height: $header-height;
}
.header__list {
    list-style-type: none;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: 1.8rem;
}
.header__styled {
    font-family: 'Berkshire Swash';
}
.header__item {
    padding: 1rem;
}

.header__icon--trophy,
.header__icon--plus {
    font-size: 1.5rem;
}
.header__icon--trophy {
    @extend .jt-trophy;
}

.header__icon--plus {
    @extend .jt-plus;
}
