#add-score {
    font-size: 3rem;
}
label.jt-cancel-circle {
    float: right;
    cursor: pointer;
}
.add-score__team-label,
.add-score__score,
.add-score__name,
.add-score__button {
    border-radius: 15px;
    padding: 1rem;
    font-size: 1rem;
    background-color: $white-color;
    border: 5px solid $mercury-color;
    outline: none;
}
.add-score__button-wrapper {
    text-align: center;
}
.add-score__name-wrapper {
    position: relative;
}
.add-score__tiny-label {
    position: absolute;
    font-size: 0.6rem;
    top: 0.9rem;
    left: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: $white-color;
    transition: 0.15s;
}
.add-score__button {
    background: 
        linear-gradient(
            $robin-s-egg-blue-color, 
            $feijoa-color
        );
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    border: 0;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
}

#modal-input {
    display: none;
}

.add-score__name:focus {
    border: 5px solid $cerulean-color;

    & + .add-score__tiny-label {
        color: $black-color;
    }
}
.add-score__score {
    // trick the select to aling text on the right
    direction: rtl;

    // hide the damned dropdown arrow
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 1rem 1.7rem;
}

.add-score__wrapper {
    position: relative;
    .jt-circle-down {
        position: absolute;
        top: calc(50% + 0.2rem);
        font-size: 1rem;
        right: 0.7rem;
    }
}

input[type="radio"] {
    display: none;
    border-radius: 5px;
    &:checked + .add-score__team-label {
        border: 5px solid $green-border-color;
    }
}

.add-score {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: lightseagreen;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
}

#modal-input:checked + .add-score {
    display: flex;
}

.add_score__modal {
    background-color: $modal-background-color;
    padding: 1rem;
}

.add-score__title {
    font-size: 6rem;
}