doctype html
html
  head
    link(
      href="style.css" 
      rel="stylesheet"
    )
  body
    include _component/add-score/add-score
    include _component/header/header
    include _component/top/top
    include _component/leaderboard/leaderboard
