doctype html
html
  head
    link(
      href="style.css" 
      rel="stylesheet"
    )
  body
    .header
      ul.header__list
        li Leaderboard
        li.header__styled Foosball
        li Add score
