doctype html
html
  head
    link(
      href="style.css" 
      rel="stylesheet"
    )
  body
    .header
      ul.header__list
        li 
          span.header__icon--trophy
          span Leaderboard
        li.header__styled Foosball
        li
          span.header__icon--plus
          span Add score

    img(src="/asset/image/junior-test-top.jpg")
